<nav class="navbar navbar-expand-lg bg-white shadow-sm">
  <div class="container gap-5">
    <a class="navbar-brand" href="#">
      <img
        src="/assets/dumbways.png"
        alt="logo dumbways"
        style="height: 40px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a class="nav-link fw-bold active" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project">MY PROJECT</a>
        </li>
      </ul>

      <div class="d-flex ms-auto gap-2 align-items-center">
        <% if (user) { %>
        <span class="fw-semibold"> Hi, <%= user.username %> </span>

        <a class="btn btn-danger rounded-4" href="/logout"> Logout </a>

        <% } else { %>
        <a class="btn btn-dark rounded-4" href="/contact"> Contact Me </a>

        <a class="btn btn-warning rounded-4" href="/login"> Login </a>
        <% } %>
      </div>
      
    </div>
  </div>
</nav>
