body {
    font-family: "Poppins", sans-serif;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background: #000;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.cv {
    padding: 10px 0px 0px;
    display: flex;
    text-align: center;
    gap: 5px;
    text-decoration: none;
}

.cv img {
    width: 20px;
    height: 20px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.btn:hover {
    background: #f6f6f6;
    color: #000;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px 0px 10px;

}

.icon {
    width: 30px;
    height: 30px;
    background: #000;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.icon img {
    width: 15px;
    height: 15px;
    filter: invert(100%);
}

.icon:hover {
    background: #f6f6f6;
    color: black;
}

.icon:hover img {
    filter: none;
}

.card {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);

}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card p {
    align-items: center;
    justify-items: center;
}

.main {
    /* margin: 0px 50px 10px; */
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 40px;
}

.cardPertama {
    width: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}