<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="../../public/style.css">
</head>

<body class="bg-body-tertiary d-flex flex-column">
    <%- include('partials/navbar') %>
    

    <main class="d-flex flex-column justify-content-center align-items-center m-3">
        <h1 class="text-center fw-bold">GET IN TOUCH</h1>
        <div class="w-50 d-flex gap-1 flex-column">
            <div class="mb-3">
                <label for="name" class="form-label fw-bold">Name</label>
                <input type="Name" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label fw-bold">Email</label>
                <input type="Email" class="form-control" id="Email">
            </div>
            <div class="mb-3">
                <label for="Phone_Number" class="form-label fw-bold">Phone Number</label>
                <input type="Phone_Number" class="form-control" id="Phone_Number">
            </div>
            <div class="mb-3">
                <label for="Subject" class="form-label fw-bold">Subject</label>
                <input type="Name" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="Your_Message" class="form-label fw-bold">Your Message</label>
                <textarea class="form-control" id="Your_Message" rows="3" ></textarea>
            </div>
            <div class="d-flex align-content-end justify-content-end">
                <button class="btn btn-dark">Submit</button>
            </div>
        </div>
    </main>
</body>

</html>